<!DOCTYPE html>
<html>
  <head>
    <title>Word-to-pdf</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Select a docx file</h1>
   <form action="/upload" method="POST" enctype="multipart/form-data" >
    <input type="file" name="wordFile" accept=".docx" >
    <button type="submit">Upload</button>
   </form>
  </body>
</html>
